.thread {
	background-color: #f7f4f0;
	border-style: solid;
    border-width: 1px;
	margin-bottom: 10px;
}

.thread-controls {
	border-bottom: 1px dashed;
}

.thread-id {
	color: #94032a;
    font-weight: bold;
}

.thread-content {
	padding: 5px;
}